<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Editar Libro</title>
    <link rel="stylesheet" href="/views/books/css/edit.css">
</head>
<body>
    <div class="container">
        <h2>{{title}}</h2>
        {{#book}}
        <form action="/books/{{id_book}}" method="POST">
            <input type="hidden" name="_method" value="PUT">
            
            <label for="titleInput">Título</label>
            <input type="text" name="title" id="titleInput" value="{{title}}" required class="input-field">

            <label for="editionInput">Edición</label>
            <input type="text" name="edition" id="editionInput" value="{{edition}}" class="input-field">

            <label for="copyrightInput">Derechos de Autor</label>
            <input type="number" name="copyright" id="copyrightInput" value="{{copyright}}" class="input-field">

            <label for="languageInput">Idioma</label>
            <input type="text" name="language" id="languageInput" value="{{language}}" class="input-field">

            <label for="pagesInput">Páginas</label>
            <input type="number" name="pages" id="pagesInput" value="{{pages}}" class="input-field">

            <label for="authorInput">Autor</label>
            <select id="authorInput" name="author_id" class="input-field">
                {{#authors}}
                <option value="{{id_author}}" {{selected}}>{{author}}</option>
                {{/authors}}
            </select>

            <label for="publisherInput">Editorial</label>
            <select id="publisherInput" name="publisher_id" class="input-field">
                {{#publishers}}
                <option value="{{id_publisher}}" {{selected}}>{{publisher}}</option>
                {{/publishers}}
            </select>

            <input class="button-primary" type="submit" value="Actualizar">
            <a class="button-secondary" href="/">Volver</a>
        </form>
        {{/book}}
    </div>
</body>
</html>
