<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Libro</title>
    <link rel="stylesheet" href="/views/books/css/show.css">
</head>
<body>
    <div class="container">
        {{#book}}
        <div class="book-details">
            <h2>{{title}}</h2>
            <p>Edición: <span class="book-info">{{edition}}</span></p>
            <p>Derechos de Autor: <span class="book-info">{{copyright}}</span></p>
            <p>Idioma: <span class="book-info">{{language}}</span></p>
            <p>Páginas: <span class="book-info">{{pages}}</span></p>
            <p>Autor: <a href="/authors/{{author_id}}" class="book-author">{{authorName}}</a></p>
            <p>Editorial: <a href="/publishers/{{publisher_id}}" class="book-publisher">{{publisherName}}</a></p>
        </div>
        {{/book}}
        {{^book}}
        <p class="not-found">Libro no encontrado.</p>
        {{/book}}
        <a class="button-secondary" href="/">Volver</a>
    </div>
</body>
</html>
