@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Asegura que no haya desplazamiento horizontal */
}

.navbar {
    background-color: #007bff;
    padding: 10px 0;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navbar ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a, .navbar form {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0066cc;
    border: none;
    cursor: pointer;
}

.navbar form {
    background: none;
}

.navbar select {
    padding: 5px;
    border-radius: 5px;
}

.container {
    width: 100%; /* Utiliza todo el ancho disponible */
    margin: 0 auto; /* Centra el contenedor si es necesario */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 98%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
    border-collapse: collapse;
    table-layout: fixed; /* Distribuye el ancho de las celdas de manera uniforme */
}

th, .day-cell {
    border: 1px solid #ccc;
    text-align: center;
    padding: 8px;
}

.day-cell {
    vertical-align: top;
    height: 100px;
    position: relative;
    background-color: #fff;
    cursor: pointer;
}

.day-cell:hover {
    background-color: #f8f9fa;
}

.date {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px 5px;
    background-color: #007bff;
    color: white;
    border-radius: 3px;
}

.event {
    margin-top: 20px;
    background-color: #e2e3e5;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    font-size: 0.85em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
